body{
    font-family: futura md bt;
    margin: 0;
    z-index: 1;
}

h1{
    color: #488db4;
    font-size: 36px;
    font-style: normal;
    outline-color: black;
    outline-width: 2px;

}
.paragrafo{
    font-size: 20px;
    text-align: justify;
}
.port
{
    text-align: center;
    font-size: 60px;
}
.centralizado{
    text-align: center;
}

h2{
    text-align: center;
}
.classic{
    margin-top: 5%;
    margin-bottom: 5%;
}
.back{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
article{
    margin-inline: 20%;
}


@media (max-width:768px){
    .ima{
        max-width: 100%;
    }
    article{
        margin-inline: 10%;
        margin-top: 8vh;
        margin-bottom: 20%;
    }
    .paragrafo{
        margin: 0;
    }
    .port{
        font-size: 30px;
    }
    .paragrafo{
        font-size: 16px;
    }
    h2{
        font-size: 20px;
    }

}
