@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: "Lato";
    margin: 0;
}

h1{
    color: #488db4;
    font-size: 36px;
    font-style: normal;

}
article{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10%;
}
.tecnologias li{
    list-style: none;
    padding: 20px;
    font-size: 30px;
    margin-inline: 10%;
    min-width: max-content;
    text-align: center;

}
.w3-light-grey{
    background-color: #8c949d;
    border-radius: 5px;
}
.w3-container{
    text-align: center;
    border-radius: 5px;


}
.tec{
    margin-top: 70px;
    text-align: center;
    font-size: 60px;
}
.tecnologias{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pag1{
    min-width: 100%;
}
.pag2{
    min-width: 100%;
}
.tecnologias ul{
    margin-inline: 5%;

}
.ok{
    background-color: orange;
}
.experient{
    background-color: #488db4;
}
.frequente{
    background-color: aquamarine;
}
.danger{
    background-color: red;
}
.back{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media  (max-width:1200px){
    .tecnologias{
        display: block;
        
    }
    .tecnologias li{
        margin-inline: 0;
    }
    .tecnologias ul{
        margin-left: 0;
    }
    article{
        margin-top: 0;
        margin-bottom: 25%;
    }
}
    
